<!DOCTYPE HTML>
<html lang="de">
<head>
    <link rel="icon" href="images/H-ICON.jpg">
    <title>Diagnose.COM</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<body class="contact is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1 id="logo"><a href="/">Diagnose.COM</a></h1>
        <nav id="nav">
            <ul>
                <li class="current"><a href="/">Home</a></li>
                <li class="submenu">
                    <a href="#">Menu</a>
                    <ul>
                        <li><a href="diagnose.html">Diagnosen</a></li>
                        <li th:if="${(role == 'ADMIN') or (role =='MITARBEITER')}"><a href="users">Users</a></li>
                    </ul>
                </li>
                <li th:unless="${authentication != 'anonymousUser'}"><a href="/register" class="button primary">Sign Up</a></li>
                <li th:unless="${authentication == 'anonymousUser'}"><a href="/logout" class="button primary">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">

        <header class="special container">
            <span class="icon solid fa-user"></span>
            <h2 th:if="${#httpServletRequest.requestURI == '/addUser'}">User hinzufügen</h2>
            <h2 th:if="${#httpServletRequest.requestURI == '/showUpdateUser'}">User bearbeiten</h2>
        </header>

        <!-- One -->
        <section class="wrapper style4 special container medium">

            <!-- Content -->
            <div class="content">
                <form action="#" th:action="@{/saveUser}" method="POST">
                    <div class="row gtr-50">
                        <div class="col-6 col-12-mobile">
                            <input type="text" th:field="*{user.email}" placeholder="email"/>
                        </div>
                        <div class="col-6 col-12-mobile">
                            <input type="text" th:field="*{user.firstName}" placeholder="Vorname"/>
                        </div>
                        <div class="col-6 col-12-mobile">
                            <input type="text" th:field="*{user.lastName}" placeholder="Nachname"/>
                        </div>
                        <div class="col-6 col-12-mobile">
                            <input type="password" th:field="*{user.password}" placeholder="Passwort"/>
                        </div>
                        <div class="col-8">
                            <label for="roles">

                            </label>
                            <select id="roles" th:field="*{user.roles}">
                                <option value="USER">User</option>
                                <option value="ADMIN">Admin</option>
                                <option value="MITARBEITER">Mitarbeiter</option>
                                <option value="CUSTOMER">Kunde</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <ul class="buttons">
                                <li><input type="submit" class="special" value="Save" />
<!--                                    <input type="hidden" th:field="*{user.email}" /></li>-->
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

        </section>

    </article>


</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollgress.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>