<!DOCTYPE HTML>
<html lang="de">
<head>
    <title>Schulradar.org</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<body class="index is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1 id="logo"><a href="/">SCHULRADAR.ORG</a></h1>
        <nav id="nav">
            <ul>
                <li class="current"><a href="/">Home</a></li>
                <li class="submenu">
                    <a href="#">Menu</a>
                    <ul>
                        <li><a href="no-sidebar.html">Erklärung</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="/#FAQ">FAQ</a></li>
                        <li><a href="impressum.html">Impressum</a></li>
                    </ul>
                </li>
                <li><a href="#" class="button primary">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">

        <header class="special container">
            <span class="icon solid fa-rocket"></span>
            <h2>Impressum</h2>
        </header>

        <!-- Two -->
        <section class="wrapper style4 container">
            <div class="row">
                <div class="content">
                    <section>
                        <p>Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.</p>
                        <p>HAUPT Chemicals GmbH </p>
                        <p>Lerchenfelder Gürtel 43/6/2</p>
                        <p>1160 Wien</p>
                        <p>Österreich</p>
                        <p>Für die Zusendung von E-Mails ist die Robinson Liste (www.rtr.at) zu beachten.</p>
                        <p>Telefon: +43(1) 535 12 69 – 0 </p>
                        <p>Telefax: +43(1) 535 12 69 – 20</p>
                        <p>Mo. bis Do. (werktags) von 8.00 bis 17.00 Uhr, Fr. 8-14.00 Uhr</p>
                        <p>E-Mail: office@haupt.cc</p>
                        <p>Geschäftsleitung: Dr. Martin Haupt</p>
                        <p>Firmenbuchnummer: FN 261694w</p>
                        <p>Firmenbuchgericht: Handelsgericht Wien</p>
                        <p>Kammerzugehörigkeit: Wirtschaftskammer Österreich</p>
                        <p>Fachgruppe: Großhandel m.Arzneimitteln, Drogeriewaren, Chemikalien, usw.</p>
                        <p>Berufsgruppe: Chemikaliengroßhandel, andere</p>
                        <p>Fachgruppe: Handelsagenten</p>
                        <p>Berufsgruppe: Handelsagent, uneingeschränkt, … Diverses</p>
                    </section>
                </div>>
            </div>
        </section>



    </article>

    <!-- CTA -->
    <section id="cta">

        <header>
            <h2>Bereit loszulegen</h2>
            <p>Dann registrieren sie sich jetzt.</p>
        </header>
        <footer>
            <ul class="buttons">
                <li><a href="register" class="button primary">Sign Up</a></li>
                <li><a href="contact.html" class="button">Questions?</a></li>
            </ul>
        </footer>

    </section>

    <!-- Footer -->
    <footer id="footer">

        <ul class="icons">
            <li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>

        <ul class="copyright">
            <li>&copy;<a href="https://www.haupt-chemicals.com/">HAUPT Chemicals GmbH </a></li>
        </ul>

    </footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>