<!DOCTYPE HTML>
<html lang="de">
	<head>
		<link rel="icon" href="images/H-ICON.jpg">
		<title>HAUPT-Chemicals.COM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="index is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="/">HAUPT-Chemicals.COM</a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="/">Home</a></li>
							<li class="submenu">
								<a href="#">Menu</a>
								<ul>
									<li><a href="no-sidebar.html">Erklärung</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="#FAQ">FAQ</a></li>
									<li><a href="impressum.html">Impressum</a></li>
								</ul>
							</li>
<!--							{if session=True}-->
							<li><a href="/register" class="button primary">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<div class="inner">

						<header>
							<h2>HAUPT-Chemicals.COM</h2>
						</header>
						<p>Ihr vertrauenswürdiger Partner für Chemische Produkte und Rohstoffe</p>
						<footer>
							<ul class="buttons stacked">
								<li><a href="#main" class="button fit scrolly">Mehr Erfahren</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-chart-bar"></span>
						<h2>Seit 2003 sind wir Ihr etablierter und zuverlässiger Lieferant für Chemische Produkte und Rohstoffe. Wir unterstützen unsere Kunden europaweit mit einer breiten Palette hochwertiger Produkte. Wir bieten unseren Kunden in den verschiedensten Branchen ein breites Spektrum an Grundchemikalien als auch Spezialitäten an, um für einzelne Produktionsschritte die optimalen Bedingungen zu schaffen.</h2>
						<h1>UNSER QUALITÄTS-VERSPRECHEN</h1>
							<p>Qualität ist unser erstrangiges Unternehmensziel, um langfristige Beziehungen zu unseren Geschäftspartnern zu pflegen. Die von uns gelieferten Produkte und deren Verpackungen entsprechen den aktuellen internationalen Vorschriften gemäß CLP, und sind REACH registriert. Unsere Mitarbeiter werden regelmäßig hinsichtlich ADR, CLP bzw. REACH geschult. </p>
					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row gtr-50">

								<div class="col-4 col-12-narrower">
									<header>
										<h2>ARBEITEN BEI HAUPT CHEMICALS</h2>
									</header>
									<p><strong>GEMEINSAM GROSSES SCHAFFEN!</strong>

										Mit unseren Mitarbeitern möchten wir nachhaltig wachsen und damit ein attraktives Arbeitsumfeld mit vielen Weiterentwicklungschancen schaffen.

										Mitarbeitern erwartet ein Arbeitsumfeld mit einem modernen Führungsstil, flachen Hierarchien, fairer Vergütung, Möglichkeiten eigene Ideen einzubringen, und eine tolle Arbeitsatmosphäre in einem hochmotivierten Team!</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button">Mehr Erfahren</a></li>
										</ul>
									</footer>
								</div>
								<div class="col-8 col-12-narrower imp-narrower">
									<img class="col-8 col-12" src="images/WorkTogether.jpg" alt="" />
								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<span class="icon solid featured fa-clinic-medical"></span>
										<header>
											<h3>GROSSE PRODUKTPALETTE</h3>
										</header>
										<p>Wir bieten unseren Kunden in den verschiedensten Branchen ein breites Spektrum an unterschiedlichen Grund- chemikalien und Spezialitäten. </p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<span class="icon solid featured fa-hand-holding-medical"></span>
										<header>
											<h3>VERLÄSSLICHE PRODUZENTEN </h3>
										</header>
										<p>Wie beziehen unsere Produkte von sorgfältig ausgewählten Produzenten weltweit und versorgen unsere Kunden europaweit. </p>
									</section>

								</div>
							</div>
						</section>
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-6 col-12-narrower">
									<section>
										<span class="icon solid featured fa-shield-alt"></span>
										<header>
											<h3>HOHE SICHERHEIT</h3>
										</header>
										<p>Sichere Versorgung durch langjährige Partnerschaften mit unseren professionellen Lager- und Speditionspartnern. </p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<span class="icon solid featured fa-rocket"></span>
										<header>
											<h3>HOHE GESCHWINDIGKEIT</h3>
										</header>
										<p>Um Sie rasch und kostengünstig versorgen zu können, betreiben wir mehrere Lager in Österreich, Deutschland und in den Niederlanden. </p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section id="FAQ" class="wrapper style3 container special">

							<header class="major">
								<h2>9 GUTE GRÜNDE FÜR HAUPT CHEMICALS</h2>
								<p>Wenn es um Qualität, vertrauensvolle Kommunikation und Sicherheit Ihrer chemischen Rohstoffe geht ist Haupt Chemicals Ihr Partner!</p>
							</header>

							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3> Seit über 19 Jahren am Markt</h3>
										</header>
										<p>Profitieren Sie von unserer Erfahrung aus über 19 Jahren in der Chemiebranche.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>Vertrauensvolle Kommunikation</h3>
										</header>
										<p>Sie erhalten zu jedem Zeitpunkt stets eine offene und ehrliche Kommunikation.</p></section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>Der Kunde steht an erster Stelle</h3>
										</header>
										<p>Kundenorientiertes Handel ist die Richtlinie all unseres Denkens und Handelns</p></section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>Liefertreue</h3>
										</header>
										<p>Wir geben Ihnen die Sicherheit für Ihre Planbarkeit der eigenen Aufträge.</p></section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>Kontinuierliche Weiterentwicklung</h3>
										</header>
										<p>Wir passen uns ständig den Bedürfnissen unserer Kunden und des Marktes an, denn Stillstand bedeutet Rückschritt. </p></section>
								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>Feste Strukturen in der Auftragsabwicklung</h3>
										</header>
										<p>So stellen wir sicher, dass alle wichtigen Informationen unserer Kunden dort ankommen, wo sie benötigt werden.</p>
									</section>
								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>Zertifiziert nach DIN EN ISO 9001:2015</h3>
										</header>
										<p>Wir geben Ihnen ebenso die Sicherheit, dass Ihre Rohstoffe nach höchsten Qualitätsstandards geliefert werden..</p>
									</section>
								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>One Face to the Customer</h3>
										</header>
										<p>Ihr persönlicher Ansprechpartner ist stets informiert und weiß, worum es geht. Wir reservieren gerne Kapazitäten und stellen den Liefertermin sicher, auch wenn aus verschiedenen Gründen der Bestellprozess noch nicht ausgelöst werden kann.</p>
									</section>
								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>Kurze Reaktionszeiten</h3>
										</header>
										<p>Als Inhabergeführtes Familienunternehmen profitieren Sie von kurzen Entscheidungsprozessen und somit sehr schnellen Reaktionsmöglichkeiten. Sie bekommen eine hohe Planungssicherheit und schnelle Problemlösungen – sichert Ihnen einen großen Wettbewerbsvorteil.</p>
									</section>
								</div>
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="/no-sidebar.html" class="button">Mehr Erfahren</a></li>
								</ul>
							</footer>

						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h2>Bereit loszulegen</h2>
						<p>Dann registrieren sie sich jetzt.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="register" class="button primary">Sign Up</a></li>
							<li><a href="contact.html" class="button">Questions?</a></li>
						</ul>
					</footer>

				</section>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy;<a href="https://www.haupt-chemicals.com/">HAUPT Chemicals GmbH </a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>